<div class="userInfo">
  <div class="infoHead">
    <img class="photo" ng-src="{{content.photo}}">
    <div class="title">
      <span class="name fontNormal">{{content.name}}</span>
      <span class="auth fontNormal">{{content.department}} {{content.position}} </span>
    </div>
  </div>
  <div class="infoBody">
    <ul class="infoList">简要信息
      <li><span class="infoLabel fontNormal">性别</span><span class="infoValue fontNormal">{{content.sex}}</span></li>
      <li><span class="infoLabel fontNormal">长号</span><span class="infoValue fontNormal">{{content.tel}}</span></li>
      <li><span class="infoLabel fontNormal">短号</span><span class="infoValue fontNormal">{{content.shorttel}}</span></li>
    </ul>
    <ul class="infoList">摆摊信息
      <li><span class="infoLabel fontNormal">课表状态</span><span class="infoValue fontNormal">{{content.classstatus}}</span></li>
      <li><span class="infoLabel fontNormal">摆摊次数</span><span class="infoValue fontNormal">{{content.pitchnumber}}</span></li>
    </ul>
  </div>
</div>