<li class="naviHover" id="more"><a class="naviFirstBtn fontNormal">更多&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><!--<img class="naviFirstImg" src="img/pointerDownWhite.png">--></li>

<div class="moreMenu" id="moreMenu">
      <ul class="moreMenuList">
        <li><a class="menuBtn fontNormal">人员系统</a></li>
        <li><a class="menuBtn fontNormal">成就系统</a></li>
        <li><a class="menuBtn fontNormal">梯币系统</a></li>
        <li><a class="menuBtn menuBtnLogout fontNormal" logout-btn ng-disabled="flag">登出</a></li>
      </ul>
    </div>
