<div class="header">
  <div class="headerContainer">
    <!--<img src="img/logo.png" class="logo">-->
    <ul class="naviFirst">
      <li  more class="naviHover"><a class="naviFirstBtn fontNormal">更多&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><!--<img class="naviFirstImg" src="img/pointerDownWhite.png">--></li>
      <li class="naviHover"><a class="naviFirstBtn fontNormal" href="#/pitch">摆摊安排 </a></li>
      <li class="naviHover"><a class="naviFirstBtn fontNormal" href="#/dprt">部门管理</a></li>
      <li class="naviHover"><a class="naviFirstBtn fontNormal naviFirstBtnActive" href="#/user">个人信息</a></li>
    </ul>
    <span class="naviLocation fontHuge">个人信息</span>
  </div>
</div>
<div class="container">
  <div class="sideBar">
    <span class="naviLocationSecondery fontSmall">个人信息</span>
    <ul class="naviSecondery">
      <li class="naviHover"><a class="naviSeconderyBtn fontNormal naviSeconderyBtnActive" href="#/user/info">个人资料</a></li>
      <li class="naviHover"><a class="naviSeconderyBtn fontNormal" href="#/user/schedule">没课表</a></li>
    </ul>
  </div>
  <div ui-view class="content"></div>
</div>

